/* TYPE Selector */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

/* ID Selector */
#company-name {
    font-size: 36px;
}

/* Header, Nav and Footer Styling */
header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #757e88;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
}
.service {
    margin: 20px 0;
}

.service img {
    width: 150px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.service h3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    color: rgb(3, 3, 12);
}